@import './../../App.scss';
.quizBox{
    .queText{
        text-align: center;
        color: $red;
        font-size: 4rem;
    }
    .ansBox{
        margin-top: 4rem;
        padding: 1rem;
        width: 35rem;
        margin: auto;
        display: block;
        .ansText{
            text-align: center;
            color: #fff;
            font-size: 1.5rem;
            padding: 1.2rem;
            margin-bottom: 2rem;
            cursor: pointer;
            background-color: #333;
            box-shadow: 0 14px 20px -12px rgba(0,0,0,0.2);
        }
    }
}