@import '../../App.scss';
.navBar{
    background-color: $main !important;
    border-radius: 0rem;
    border: 0rem;
    color: #fff;
    padding: 0;
    margin: 0;
    transform: translateY(0);
    box-shadow: 0 14px 20px -12px rgba(0,0,0,0.2);
}
.textClr {
    color: #fff !important;
}