.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.text{
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// global css

$white:#fff;
$black:#000;
$main:#673AB7;
$green:#37C871;
$register:#838C99;
$red:#FF5B50;


.imgBox{
  padding: 0;
  margin: 0;
  height: 50rem;
  .mainImg{
    height: 100%;
    width: 100%;
  }
}

.wt{
  color: $white !important;
}
.wt a{
  color: $white !important;
}
